In [1]:
!ls dataset

imdb_crop  meta.csv  wiki_crop

In [2]:
import pandas as pd
import cv2
import os
from tqdm import tqdm

In [3]:
data = pd.read_csv('dataset/meta.csv')

In [4]:
data.head()

                                                path gender
0  dataset/imdb_crop/82/nm1534182_rm2156170752_19...      f
1  dataset/imdb_crop/51/nm0001451_rm3830028032_19...      f
2   dataset/wiki_crop/28/1036328_1948-05-21_2009.jpg      m
3  dataset/imdb_crop/54/nm0004754_rm1577898240_19...      f
4  dataset/imdb_crop/32/nm0000232_rm3094646272_19...      f

In [5]:
data = data[data['gender'] == 'f']

In [6]:
data.head()

                                                path gender
0  dataset/imdb_crop/82/nm1534182_rm2156170752_19...      f
1  dataset/imdb_crop/51/nm0001451_rm3830028032_19...      f
3  dataset/imdb_crop/54/nm0004754_rm1577898240_19...      f
4  dataset/imdb_crop/32/nm0000232_rm3094646272_19...      f
6  dataset/imdb_crop/38/nm0004738_rm2577912576_19...      f

In [7]:
data.shape

(95111, 2)

In [8]:
if not os.path.exists('./dataset/images'):
    os.makedirs('./dataset/images')

if not os.path.exists('./dataset/images/faces'):
    os.makedirs('./dataset/images/faces')

In [9]:
!ls dataset

images	imdb_crop  meta.csv  wiki_crop

In [10]:
images = data['path'].values
print(images[0:10])

['dataset/imdb_crop/82/nm1534182_rm2156170752_1987-11-8_2009.jpg'
 'dataset/imdb_crop/51/nm0001451_rm3830028032_1970-3-18_2008.jpg'
 'dataset/imdb_crop/54/nm0004754_rm1577898240_1982-3-3_2013.jpg'
 'dataset/imdb_crop/32/nm0000232_rm3094646272_1958-3-10_2009.jpg'
 'dataset/imdb_crop/38/nm0004738_rm2577912576_1968-8-14_2013.jpg'
 'dataset/imdb_crop/64/nm0005064_rm3309170688_1978-1-5_2007.jpg'
 'dataset/imdb_crop/73/nm0000173_rm2378537728_1967-6-20_2007.jpg'
 'dataset/imdb_crop/53/nm2322853_rm724745472_1988-6-11_2009.jpg'
 'dataset/imdb_crop/64/nm1667364_rm2983836416_1989-12-18_2010.jpg'
 'dataset/imdb_crop/66/nm0133566_rm381651200_1966-9-28_2009.jpg']

In [11]:
for image in tqdm(images):
    name = image.split('/')[3]
    img = cv2.imread(image, 1)
    
    if img is not None:
        img = cv2.resize(img, (64, 64))
        cv2.imwrite('dataset/images/faces/' + name, img)

100%|██████████| 95111/95111 [37:31<00:00, 42.25it/s]