In [1]:
!ls

dataset  generate_data.ipynb  README.md

In [2]:
from scipy.io import loadmat
from tqdm import tqdm
import numpy as np
import pandas as pd

In [3]:
imdb_mat = 'dataset/imdb_crop/imdb.mat'
wiki_mat = 'dataset/wiki_crop/wiki.mat'

In [4]:
imdb_data = loadmat(imdb_mat)['imdb']
print(imdb_data[0])

[(array([[693726, 693726, 693726, ..., 726831, 726831, 726831]], dtype=int32), array([[1968, 1970, 1968, ..., 2011, 2011, 2011]], dtype=uint16), array([[array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43'),
        array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44'),
        array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43'),
        ...,
        array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44'),
        array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')]],
      dtype=object), array([[1., 1., 1., ..., 0., 0., 0.]]), array([[array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'),
        array(['Fred Astaire'], dtype='<U12'), ...,
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9'),
        array(['Jane Levy'], dtype='<U9')]], dtype=object), array([[array([[1072.926,  161.838, 1214.784,  303.696]]),
        array([[477.184, 100.352, 622.592, 245.76 ]]),
        array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]),
        ..., array([[  1,   1, 453, 640]], dtype=uint16),
        array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]),
        array([[457.524,  41.748, 518.016, 102.24 ]])]], dtype=object), array([[1.45969291, 2.5431976 , 3.45557949, ...,       -inf, 4.45072452,
        2.13350269]]), array([[1.11897336, 1.85200773, 2.98566022, ...,        nan,        nan,
               nan]]), array([[array(["'Lee' George Quinones"], dtype='<U21'),
        array(["'Weird Al' Yankovic"], dtype='<U19'),
        array(['2 Chainz'], dtype='<U8'), ...,
        array(['Éric Caravaca'], dtype='<U13'),
        array(['Ólafur Darri Ólafsson'], dtype='<U21'),
        array(['Óscar Jaenada'], dtype='<U13')]], dtype=object), array([[6488, 6488, 6488, ..., 8410, 8410, 8410]], dtype=uint16))]

In [5]:
wiki_data = loadmat(wiki_mat)['wiki']
print(wiki_data[0])

[(array([[723671, 703186, 711677, ..., 720620, 723893, 713846]], dtype=int32), array([[2009, 1964, 2008, ..., 2013, 2011, 2008]], dtype=uint16), array([[array(['17/10000217_1981-05-05_2009.jpg'], dtype='<U31'),
        array(['48/10000548_1925-04-04_1964.jpg'], dtype='<U31'),
        array(['12/100012_1948-07-03_2008.jpg'], dtype='<U29'), ...,
        array(['09/9998109_1972-12-27_2013.jpg'], dtype='<U30'),
        array(['00/9999400_1981-12-13_2011.jpg'], dtype='<U30'),
        array(['80/999980_1954-06-11_2008.jpg'], dtype='<U29')]],
      dtype=object), array([[1., 1., 1., ..., 1., 1., 0.]]), array([[array(['Sami Jauhojärvi'], dtype='<U15'),
        array(['Dettmar Cramer'], dtype='<U14'),
        array(['Marc Okrand'], dtype='<U11'), ...,
        array(['Michael Wiesinger'], dtype='<U17'),
        array(['Johann Grugger'], dtype='<U14'),
        array(['Greta Van Susteren'], dtype='<U18')]], dtype=object), array([[array([[111.29109473, 111.29109473, 252.66993082, 252.66993082]]),
        array([[252.4833023 , 126.68165115, 354.53192596, 228.73027481]]),
        array([[113.52, 169.84, 366.08, 422.4 ]]), ...,
        array([[169.88839786,  74.31669472, 235.2534231 , 139.68171997]]),
        array([[1, 1, 1, 1]], dtype=uint8),
        array([[ 92.72633235,  62.0435549 , 230.12083087, 199.43805342]])]],
      dtype=object), array([[4.30096239, 2.6456395 , 4.32932883, ..., 3.49430317,       -inf,
        5.48691655]]), array([[       nan, 1.94924791,        nan, ...,        nan,        nan,
               nan]]))]

In [6]:
imdb_images_path = imdb_data[0][0][2][0]
imdb_images_gender = imdb_data[0][0][3][0]
imdb_images_face1 = imdb_data[0][0][6][0]
imdb_images_face2 = imdb_data[0][0][7][0]

In [7]:
wiki_images_path = wiki_data[0][0][2][0]
wiki_images_gender = wiki_data[0][0][3][0]
wiki_images_face1 = wiki_data[0][0][6][0]
wiki_images_face2 = wiki_data[0][0][7][0]

In [8]:
paths = []

for path in tqdm(imdb_images_path):
    paths.append('dataset/imdb_crop/' + path[0])
    
for path in tqdm(wiki_images_path):
    paths.append('dataset/wiki_crop/' + path[0])

print(paths[0:10])
print(len(paths))

100%|██████████| 460723/460723 [00:00<00:00, 667228.21it/s]
100%|██████████| 62328/62328 [00:00<00:00, 684947.60it/s]

['dataset/imdb_crop/01/nm0000001_rm124825600_1899-5-10_1968.jpg', 'dataset/imdb_crop/01/nm0000001_rm3343756032_1899-5-10_1970.jpg', 'dataset/imdb_crop/01/nm0000001_rm577153792_1899-5-10_1968.jpg', 'dataset/imdb_crop/01/nm0000001_rm946909184_1899-5-10_1968.jpg', 'dataset/imdb_crop/01/nm0000001_rm980463616_1899-5-10_1968.jpg', 'dataset/imdb_crop/02/nm0000002_rm1075631616_1924-9-16_1991.jpg', 'dataset/imdb_crop/02/nm0000002_rm1346607872_1924-9-16_2004.jpg', 'dataset/imdb_crop/02/nm0000002_rm1363385088_1924-9-16_2004.jpg', 'dataset/imdb_crop/02/nm0000002_rm1411175936_1924-9-16_1991.jpg', 'dataset/imdb_crop/02/nm0000002_rm1447271168_1924-9-16_2004.jpg']
523051

In [9]:
genders = []

for g in tqdm(imdb_images_gender):
    if g == 1.0:
        genders.append('m')
    else:
        genders.append('f')

for g in tqdm(wiki_images_gender):
    if g == 1.0:
        genders.append('m')
    else:
        genders.append('f')

print(genders[0:10])
print(len(genders))

100%|██████████| 460723/460723 [00:00<00:00, 881763.22it/s]
100%|██████████| 62328/62328 [00:00<00:00, 880964.12it/s]

['m', 'm', 'm', 'm', 'm', 'f', 'f', 'f', 'f', 'f']
523051

In [10]:
f1_scores = []

for f1 in tqdm(imdb_images_face1):
    f1_scores.append(str(f1))

for f1 in tqdm(wiki_images_face1):
    f1_scores.append(str(f1))

print(f1_scores[0:10])
print(len(f1_scores))

100%|██████████| 460723/460723 [00:00<00:00, 485893.32it/s]
100%|██████████| 62328/62328 [00:00<00:00, 550942.10it/s]

['1.4596929136202572', '2.5431975987694435', '3.455579487909806', '1.872117169344902', '1.1587657871914132', '3.4905630909496344', '3.4791889134154426', '3.87017062712482', '3.786498646396679', '3.472943641929206']
523051

In [11]:
f2_scores = []

for f2 in tqdm(imdb_images_face2):
    f2_scores.append(str(f2))

for f2 in tqdm(wiki_images_face2):
    f2_scores.append(str(f2))

print(f2_scores[0:10])
print(len(f2_scores))

100%|██████████| 460723/460723 [00:00<00:00, 585804.05it/s]
100%|██████████| 62328/62328 [00:00<00:00, 865629.08it/s]

['1.1189733571573068', '1.852007728341101', '2.9856602160994425', 'nan', 'nan', '1.3453352771625287', 'nan', 'nan', '3.6297041401689754', '2.9451325883872235']
523051

In [12]:
assert len(paths) == len(genders) == len(f1_scores) == len(f2_scores), "Something wrong with the dataset"

In [13]:
dataframe = pd.DataFrame(columns=['path', 'gender', 'f1_score', 'f2_score'])

In [14]:
dataframe['path'] = paths
dataframe['gender'] = genders
dataframe['f1_score'] = f1_scores
dataframe['f2_score'] = f2_scores

In [15]:
dataframe.head()

,path,gender,f1_score,f2_score
0,dataset/imdb_crop/01/nm0000001_rm124825600_189...,m,1.4596929136202572,1.1189733571573068
1,dataset/imdb_crop/01/nm0000001_rm3343756032_18...,m,2.5431975987694435,1.852007728341101
2,dataset/imdb_crop/01/nm0000001_rm577153792_189...,m,3.455579487909806,2.9856602160994425
3,dataset/imdb_crop/01/nm0000001_rm946909184_189...,m,1.872117169344902,nan
4,dataset/imdb_crop/01/nm0000001_rm980463616_189...,m,1.1587657871914132,nan

In [16]:
dataframe.shape

(523051, 4)

In [17]:
dataframe = dataframe[dataframe['f1_score'] != '-inf']
dataframe = dataframe[dataframe['f2_score'] == 'nan']

In [18]:
dataframe.shape

(224840, 4)

In [19]:
dataframe.head()

,path,gender,f1_score,f2_score
3,dataset/imdb_crop/01/nm0000001_rm946909184_189...,m,1.872117169344902,nan
4,dataset/imdb_crop/01/nm0000001_rm980463616_189...,m,1.1587657871914132,nan
6,dataset/imdb_crop/02/nm0000002_rm1346607872_19...,f,3.4791889134154426,nan
7,dataset/imdb_crop/02/nm0000002_rm1363385088_19...,f,3.87017062712482,nan
12,dataset/imdb_crop/02/nm0000002_rm221957120_192...,f,4.0964305784174595,nan

In [20]:
dataframe = dataframe.drop(['f1_score', 'f2_score'], axis=1)

In [21]:
dataframe.head()

                                                 path gender
3   dataset/imdb_crop/01/nm0000001_rm946909184_189...      m
4   dataset/imdb_crop/01/nm0000001_rm980463616_189...      m
6   dataset/imdb_crop/02/nm0000002_rm1346607872_19...      f
7   dataset/imdb_crop/02/nm0000002_rm1363385088_19...      f
12  dataset/imdb_crop/02/nm0000002_rm221957120_192...      f

In [22]:
dataframe = dataframe.sample(frac=1)

In [23]:
dataframe.to_csv('dataset/meta.csv', index=False)